<h1 class="text-secondary">Spendings list</h1>
<%= link_to I18n.t('general.back'), root_path %>

<p>Total amount: <%= @total %><br />

<%= form_with url: user_spendings_path(@user), method: :get do |f| %>
  <div>
    <%= f.label :category %>
    <%= f.select :category, options_for_select(@categories), include_blank: true %>
  </div>
  <div>
    <p><%= f.label :min, 'Min amount' %> - <%= f.number_field :min, min: 0 %></p>
    <p><%= f.label :max,'Max amount' %> - <%= f.number_field :max, min: 0 %></p>
  </div>
  <div>
    <p><%= f.label :sort, 'Sort order by amount' %> - <%= f.select :sort, options_for_select(['asc', 'desc']) %></p>
  </div>
  <%= f.submit 'Filter' %>
<% end %>

<%= link_to 'Reset filter', user_spendings_path(@user) %><br /><br />

<% @spendings.each do |spending| %>
  <%= spending.amount %><br />
  <%= spending.description %><br />
  <%= spending.category.heading %><br /><br />

  <% if spending.user_id == current_user.id %>
    <%= link_to I18n.t('spending.links.show'), user_spending_path(current_user, spending) %>
    <%= link_to I18n.t('spending.links.edit'), edit_user_spending_path(current_user, spending) %>
    <%= button_to I18n.t('spending.links.destroy'), user_spending_path(current_user, spending), method: :delete %>
  <% end %>
<% end %>
