<h1 class="text-secondary mb-4"><%= I18n.t('category.new.title') %></h1>
<%= link_to I18n.t('general.to_categories_list'), categories_path, class: 'btn btn-secondary mb-4'  %>

<div class="col-6">
  <%= form_with(model: @category, method: 'post') do |f| %>
    <%= render(partial: 'form', locals: { f: f }) %>
    <%= f.submit 'Create category', class: "btn btn-primary" %>
  <% end %>
</div>
